// Define theme specific colors here.
$color__white: #fff;
$color__not-white: #f1f1f1;
$color__gray-lt: #eeefed;
$color__gray-md: #e5e6e4;
$color__gray-dk: #333;
$color__blue-lt: #4fc2bf;
$color__blue-md: #00698c;
$color__blue-dk: #0f2044;
$color__mint: #92d1b3;
$color__yellow: #ffb71b;
