.wp-block-table{font-size:16px;clear:both;margin-bottom:25px}.wp-block-table>table>tbody>tr:nth-child(2n){background-color:#eeefed}.wp-block-table>table>tbody>tr:nth-child(odd){background-color:#e5e6e4}.wp-block-table>table>tbody>tr>td{padding:10px 20px}.wp-block-table>table>thead>tr>th{padding:10px 20px;color:#fff;border-top:none;border-left:1px solid #fff;background-color:#00698c}.wp-block-table>table>thead>tr>th:first-child{border-left:none}.wp-block-table>table>tbody>tr>td{color:#0f2044;border-top:1px solid #fff;border-left:1px solid #fff}.wp-block-table>table>tbody>tr>td:first-child{border-left:none}
/*# sourceMappingURL=../maps/blocks/table.css.map */
