@import '../../mixins/index';
@import '../../variables/index';

$box-margin: 25px;

.chapter-box-block
{
    display: flex;

    max-width: 600px;
    margin: 1em auto 0 auto;

    flex-wrap: wrap;
    justify-content: space-between;

    .chapter-box
    {
        min-width: 253px;
        max-width: 260px;
        margin: $box-margin auto 0 auto;

        text-align: center;

        background-color: $color__gray-lt;

        flex: 1 1 0;

        &:hover,
        &:active,
        &:focus
        {
            text-decoration: none;

            color: $color__blue-dk;
        }

        &:hover .chapter-box-title
        {
            background-color: $color__blue-dk;

            svg
            {
                transform: translateX(5px);
            }
        }

        .chapter-box-image > img
        {
            max-width: 100%;
        }

        .chapter-box-title
        {
            font-size: 14px;
            font-weight: 700;

            display: inline-block;

            margin: $box-margin auto 0;
            padding: 9px 23px;

            text-transform: uppercase;

            color: $color__white;
            background-color: $color__blue-md;

            svg
            {
                margin-left: 5px;

                transition-duration: .3s;

                fill: $color__white;
            }
        }

        .chapter-box-description
        {
            margin: 20px $box-margin $box-margin;
        }
    }
}

@include bp($breakpoint__sm)
{
    .chapter-box-block
    {
        max-width: 100%;

        .chapter-box
        {
            min-width: 140px;
            margin: $box-margin 0 0 $box-margin;
            &:first-child
            {
                margin-left: 0;
            }
        }
    }
}
