@import '../mixins/index';
@import '../variables/index';

@include site-content()
{
    p a,
    li a
    {
        text-decoration: underline;

        &:hover,
        &:active,
        &:focus
        {
            color: $color__blue-md;
        }
    }
}
