@import '../mixins/index';
@import '../variables/index';

.wp-block-pullquote
{
    float: none;

    margin: 0;
    padding: 0;

    text-align: left;

    background-color: $color__gray-lt;

    &:not(.is-style-solid-color)
    {
        background-color: $color__gray-lt;
    }

    &.alignleft,
    &.alignright,
    &.aligncenter
    {
        width: 100%;
        max-width: 100%;

        & > blockquote
        {
            position: relative;

            margin: 0;
            padding: 70px 25px 25px;

            border: none;

            &:before
            {
                position: absolute;
                top: 20px;
                left: 50%;

                display: block;

                width: 40px;
                height: 32px;

                content: '';
                transform: translateX(-50%);

                background-color: $color__blue-md;

                -webkit-mask: url(parts/svg/quote.svg) no-repeat 50% 50%;
                        mask: url(parts/svg/quote.svg) no-repeat 50% 50%;
                -webkit-mask-size: cover;
                        mask-size: cover;
            }

            p
            {
                font-size: 16px;
                font-style: italic;
                line-height: 27px;
            }

            cite
            {
                font-size: 16px;
                font-style: normal;

                position: relative;

                display: block;

                margin: 20px 25px 0 25px;

                color: $color__blue-dk;

                &:before
                {
                    position: absolute;
                    top: -3px;
                    left: -18px;

                    display: block;

                    content: '\2014';
                }
            }
        }
    }
}

@include bp($breakpoint__sm)
{
    .wp-block-pullquote
    {
        &.aligncenter,
        &.alignleft,
        &.alignright
        {
            max-width: 50%;
        }

        &.alignleft
        {
            float: left;

            margin: 20px 20px 20px 0;
        }

        &.alignright
        {
            float: right;

            margin: 20px 0 20px 20px;
        }
    }
}
