@import '../mixins/index';
@import '../variables/index';

.wp-block-table
{
    font-size: 16px;

    clear: both;

    margin-bottom: 25px;

    & > table
    {
        & > tbody > tr:nth-child(even)
        {
            background-color: $color__gray-lt;
        }

        & > tbody > tr:nth-child(odd)
        {
            background-color: $color__gray-md;
        }

        & > tbody > tr > td
        {
            padding: 10px 20px;
        }

        & > thead > tr > th
        {
            padding: 10px 20px;

            color: $color__white;
            border-top: none;
            border-left: 1px solid $color__white;
            background-color: $color__blue-md;

            &:first-child
            {
                border-left: none;
            }
        }

        & > tbody > tr > td
        {
            color: $color__blue-dk;
            border-top: 1px solid $color__white;
            border-left: 1px solid $color__white;

            &:first-child
            {
                border-left: none;
            }
        }
    }
}
