@import '../../mixins/index';
@import '../../variables/index';

@include site-content()
{
    .tabs-block
    {
        clear: both;

        margin-top: 25px;

        .nav-tabs
        {
            border: none;

            & > li
            {
                float: none;

                transition: .25s;

                & > a
                {
                    font-size: 16px;

                    position: relative;

                    margin: 0 0 5px 0;

                    transition: .25s;
                    text-decoration: none;

                    color: $color__white;
                    border: none;
                    border-radius: 0;
                    background-color: $color__blue-md;
                }
            }

            & > li.active > a,
            & > li:focus > a,
            & > li:hover > a
            {
                background-color: $color__blue-dk;
            }
        }

        .tab-content
        {
            padding: 25px;

            background-color: $color__gray-lt;

            p:last-of-type
            {
                margin-bottom: 0;
            }
        }
    }
}


@include site-content()
{
    .tabs-block
    {
        @include bp($breakpoint__md)
        {
            margin-top: 15px;

            .nav-tabs
            {
                display: flex;
                overflow: hidden;

                justify-content: flex-start;
                align-items: flex-end;

                & > li
                {
                    top: 6px;

                    display: inline-block;

                    margin-bottom: 0;

                    flex-grow: 0;

                    & > a
                    {
                        margin: 0 5px 0 0;
                        padding-bottom: 16px;
                    }

                    &:last-child > a
                    {
                        margin-right: 0;
                    }
                }

                & > li.active,
                & > li:focus,
                & > li:hover
                {
                    top: 0;
                }
            }
        }
    }
}
