@import '../mixins/index';
@import '../variables/index';

#unit-head,
.site-branding
{
    display: none !important;
}

.site-header
{
    display: flex;

    width: 100%;
    padding: 25px 0;

    justify-content: space-between;

    .site-title
    {
        font: 
        {
            family: 'Sofia Pro', sans-serif;
            size: 22px;
            weight: bold;
        }
        line-height: 40px;

        color: $color__blue-dk;

        flex-grow: 1;
    }

    .header-button
    {
        font-size: 14px;
        font-weight: 700;

        display: flex;
        flex-direction: column;

        padding: 0 20px;

        text-align: center;
        text-transform: uppercase;

        color: $color__white;
        background-color: $color__blue-md;

        flex-grow: 0;
        justify-content: center;

        &:hover
        {
            text-decoration: none;

            background-color: $color__blue-dk;
        }
    }

    .logged-in-container
    {
        display: flex;

        //.header-button
        //{
        //    margin-right: 20px;
        //}

        .logout-link
        {
            display: flex;
            flex-direction: column;

            padding: 0 20px;

            text-decoration: underline;

            color: #6b6b6b;

            justify-content: center;
        }
    }
}

@include bp($breakpoint__xs)
{
    .site-header .site-title
    {
        font: 
        {
            family: 'Pluto Sans', sans-serif;
            size: 36px;
        }

        text-transform: uppercase;

        &:hover
        {
            text-decoration: none;
        }
    }
}

@include bp($breakpoint__md)
{
    .site-header
    {
        position: absolute;
        top: -154px;
        left: 0;

        padding: 25px;
    }
}
