@import '../mixins/index';
@import '../variables/index';

#unit-horizontal,
div#unit-horizontal
{
    height: 54px;

    background-color: $color__blue-dk;
    background-image: none;

    ul#header-menu
    {
        display: flex;

        align-content: flex-start;

        & > li
        {
            height: 54px;

            transition-duration: .3s;

            background-color: transparent;

            a,
            {
                font: 
                {
                    family: 'Sofia Pro', sans-serif;
                    weight: bold;
                    size: 14px;
                }

                padding: 22px 25px 32px;

                text-transform: uppercase;

                border: none;

                -webkit-font-smoothing: antialiased;
                   -moz-font-smoothing: antialiased;
                     -o-font-smoothing: antialiased;

                &:link,
                &:visited
                {
                    color: $color__white;
                }
            }

            .submenu
            {
                background-image: none;
            }

            &.menu-item-has-children
            {
                height: 54px;
            }

            &:hover
            {
                background-color: $color__blue-md;
                background-image: none;
            }
            &.current-menu-item,
            &.current_page_item,
            &.current-page-parent
            {
                height: 60px;

                background-color: $color__blue-md;
                background-image: none;
            }

            & > ul
            {
                top: 54px;

                display: block;
                overflow: hidden;

                width: 0;
                max-height: 0;

                transition-delay: .1s, 0s;
                transition-duration: .3s, 0s;
                transition-property: max-height, width;

                &.sub-menu > li
                {
                    border: none;

                    a
                    {
                        font-weight: normal;

                        text-transform: none;
                    }
                    &.current-menu-item,
                    &.current_page_item
                    {
                        text-decoration: underline;
                    }
                }
            }

            &:hover > ul
            {
                top: 54px;

                width: auto;
                max-height: 450px;
                padding: 0;

                background-color: $color__blue-md;

                & > li > a
                {
                    padding: 15px 20px;

                    background-color: transparent !important;

                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
@include bp($breakpoint__md)
{
    .site-navigation
    {
        margin-top: 90px;
        margin-bottom: 10px;
    }
}
