@import '../mixins/index';
@import '../variables/index';

@include site-content()
{
    .error-404
    {
        text-align: center;

        img
        {
            margin-top: 40px;
        }

        .page-header
        {
            padding-bottom: 0;
        }

        .page-content
        {
            max-width: 340px;
            margin: 0 auto;

            p
            {
                font-size: 21px;

                margin-top: 25px;
            }

            .home-button-container
            {
                margin: 25px 0;

                a
                {
                    font-size: 14px;

                    padding: 10px 20px;

                    text-decoration: none;
                    text-transform: uppercase;

                    color: $color__white;
                    background-color: $color__blue-md;
                }
            }
        }
    }
}
