@import '../variables/index';

@include site-content()
{
    /* Pyramid (plan part 2) */

    .pyramid li
    {
        margin: 1em 0;
    }

    @media screen and (min-width: 550px)
    {
        /* Pyramid (plan part 2) */
        .pyramid
        {
            position: relative;

            width: 500px;
            height: 425px;
            margin: 20px auto;
            padding-left: 63px;


            .hide-when-styled
            {
                display: none;
            }

            .pyramid-title
            {
                font: 
                {
                    family: 'Sofia Pro', sans-serif;
                    size: 28px;
                    weight: normal;
                }

                position: absolute;
                bottom: 0;
                left: 0;

                display: block;

                width: 100%;

                text-align: center;
                text-transform: uppercase;
            }

            ul
            {
                margin: 0;
                padding: 0 0 0 30px;

                list-style-type: none;
            }

            li
            {
                font-size: 16px;
                line-height: 1.4;

                position: relative;
                z-index: 1;

                height: 120px;
                margin: 3px 0 0 100px;
                padding: 30px 24px;

                text-align: right;

                background: $color__gray-lt;
            }

            label
            {
                position: absolute;
                bottom: 0;

                display: block;

                height: 120px;
                margin: 0;
                padding: 50px 0 0 0;

                text-align: center;
                text-transform: uppercase;

                background: $color__blue-lt;
            }

            label span
            {
                color: #fff;
            }

            label::before,
            label::after
            {
                position: absolute;
                z-index: -1;
                bottom: 0;

                content: '';

                border: 60px solid transparent;
                border-bottom: 120px solid $color__blue-lt;
            }

            .pyramid-top
            {
                padding-left: 50px;
            }

            .pyramid-top label
            {
                left: -60px;

                width: 120px;
                padding-top: 88px;

                background: transparent;
            }

            .pyramid-top label::before
            {
                display: none;
            }

            .pyramid-top label::after
            {
                left: 0;
            }

            .pyramid-middle
            {
                padding-left: 100px;
            }

            .pyramid-middle label
            {
                left: -61px;

                width: 122px;
            }

            .pyramid-middle label::before
            {
                left: -60px;
            }

            .pyramid-middle label::after
            {
                right: -60px;
            }

            .pyramid-bottom
            {
                padding-left: 165px;
            }

            .pyramid-bottom label
            {
                left: -122px;

                width: 244px;
            }

            .pyramid-bottom label::before
            {
                left: -60px;
            }

            .pyramid-bottom label::after
            {
                right: -60px;
            }
        }

        /* Expectations (Develop part 2) */

        .expectations
        {
            position: relative;

            display: flex;
            float: right;
            overflow: hidden;

            width: 370px;
            height: 160px;
            margin: 25px 0 25px 25px;

            p
            {
                font-size: 20px;
                line-height: 160px;

                margin: 0;

                text-transform: uppercase;

                &:after
                {
                    position: absolute;
                    top: 50%;
                    left: -80px;

                    width: 250px;
                    height: 250px;
                    padding: 110px 0 110px 50px;

                    content: '';
                    transform: translateY(-50%);
                    text-align: right;

                    border: 2px solid $color__blue-dk;
                    border-radius: 300px;
                }
            }

            ul
            {
                position: relative;
                top: 12px;
                left: -12px;

                padding: 0;

                list-style-type: none;

                li
                {
                    font-size: 16px;
                    font-weight: normal;

                    position: relative;

                    margin: 0 0 15px -40px;
                    padding: 4px 30px 4px 30px;

                    text-align: left;
                    text-transform: capitalize;
                }
            }

            .flag-title-set
            {
                margin-left: 30px;

                background-color: $color__mint;

                &:before
                {
                    position: absolute;
                    top: 0;
                    left: -15px;

                    content: '';

                    border: 15px solid transparent;
                    border-top: 35px solid $color__mint;
                }
            }

            .flag-title-communicate
            {
                margin-left: 34px;
                padding-left: 40px;

                background-color: $color__yellow;
            }

            .flag-title-follow
            {
                margin-left: 30px;

                background-color: $color__blue-lt;

                &:before
                {
                    position: absolute;
                    bottom: 0;
                    left: -15px;

                    content: '';

                    border: 15px solid transparent;
                    border-bottom: 35px solid $color__blue-lt;
                }
            }
        }

        /* Assesment types graphic (Develop part 4) */

        .assessment-types,
        .assessment-styles
        {
            float: right;

            width: 260px;
            height: 130px;
            margin: 25px 0 25px 25px;
        }

        .assessment-styles
        {
            float: left;

            margin: 25px 25px 25px 0;
        }

        .assessment-types p,
        .assessment-styles p
        {
            font-size: 16px;
            line-height: 1.3;

            float: left;

            width: 120px;

            text-align: center;
            text-transform: uppercase;
        }

        .assessment-styles p
        {
            float: right;
        }

        .assessment-types label,
        .assessment-styles label
        {
            font-size: 90px;
            font-weight: bold;
            line-height: .8;

            margin-top: 4px;
        }

        .assessment-types ul,
        .assessment-styles ul
        {
            float: left;

            width: 120px;
            padding: 0;

            list-style-type: none;

            & > li
            {
                font-size: 14px;
                font-weight: normal;

                position: relative;

                width: 110px;
                margin: 10px 0;
                padding: 3px 0 4px 0;

                text-align: center;
                text-transform: capitalize;

                &:before
                {
                    position: absolute;
                    top: 0;

                    content: '';

                    border: 15px solid transparent;
                }
            }

            .flag-title-diagnostic
            {
                background-color: $color__mint;

                &:before
                {
                    border-right: 15px solid $color__mint;
                }
            }

            .flag-title-formative
            {
                background-color: $color__yellow;

                &:before
                {
                    border-right: 15px solid $color__yellow;
                }
            }

            .flag-title-summative
            {
                background-color: $color__blue-lt;

                &:before
                {
                    border-right: 15px solid $color__blue-lt;
                }
            }
        }

        .assessment-types ul
        {
            margin: 0;
            padding-right: 20px;
            padding-left: 10px;

            & > li:before
            {
                left: -30px;
            }
        }

        .assessment-styles ul
        {
            width: 100px;
            margin: 12px 0 0 0;
            & > li
            {
                padding: 10px 0 9px 0;

                &:before
                {
                    right: -42px;
                }
            }
            .flag-title-graded:before,
            .flag-title-ungraded:before
            {
                border: 21px solid transparent;
            }
            .flag-title-graded
            {
                background-color: $color__blue-lt;
                &:before
                {
                    border-left-color: $color__blue-lt;
                }
            }

            .flag-title-ungraded
            {
                background-color: $color__yellow;
                &:before
                {
                    border-left-color: $color__yellow;
                }
            }
        }

        /* Thumbs-up thumbs-down */

        .thumbs_up_down
        {
            font-size: 22px;
            line-height: 2.4;

            width: 244px;
            height: 130px;
            margin: 0 10px 0 0;
            padding: 0;

            list-style-type: none;
        }

        .thumbs_up_down li
        {
            display: flex;

            width: 242px;
            height: 59px;

            border: 1px solid #ccc;

            /* -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
            -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, .3); */
        }

        .thumbs_up_down .thumb-icon
        {
            position: relative;
            //bottom: -6px;
            //left: 9px;

            display: block;

            width: 50px;
            margin: 5px 0 5px 10px;
            &.icon-thumbs-up,
            &.icon-thumbs-down
            {
                background-image: url(./parts/svg/thumbs-up.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.icon-thumbs-down
            {
                transform: scaleY(-1);
            }
        }

        .thumbs_up_down .text_background
        {
            display: block;

            width: 180px;
            height: 100%;

            border-left: 1px solid #ccc;
            background-color: #efefef;
        }

        .thumbs_down .text_background
        {
            padding: 0 16px;
        }

        .thumbs_up .text_background
        {
            padding: 10px 16px 0;
        }

        .thumbs_up_down li:first-child,
        .thumbs_up_down li:first-child .text_background
        {
            margin-bottom: 10px;
        }

        .thumbs_up_down .ugly1
        {
            font-family: 'Brush Script MT', script;
            font-size: 24px;

            color: #eb800d;
        }

        .thumbs_up_down .ugly2
        {
            font-family: 'Courier', serif;

            text-decoration: underline;

            color: #00f;
        }

        .thumbs_up_down .ugly3
        {
            font-family: 'Lucida Bright', serif;

            padding: 0 1px;

            color: #f0f;
            background-color: #008040;
        }

        .thumbs_up_down .ugly4
        {
            font-family: 'Brush Script MT', script;
            font-size: 42px;
            line-height: 0;

            position: relative;
            top: 5px;

            padding-right: 5px;

            -webkit-animation-name: blinker;
               -moz-animation-name: blinker;
                    animation-name: blinker;
            -webkit-animation-duration: 1s;
               -moz-animation-duration: 1s;
                    animation-duration: 1s;
            -webkit-animation-timing-function: linear;
               -moz-animation-timing-function: linear;
                    animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
               -moz-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;

            color: #f00;
        }

        @-moz-keyframes blinker
        {
            0%
            {
                opacity: 1.0;
            }

            50%
            {
                opacity: .0;
            }

            100%
            {
                opacity: 1.0;
            }
        }

        @-webkit-keyframes blinker
        {
            0%
            {
                opacity: 1.0;
            }

            50%
            {
                opacity: .0;
            }

            100%
            {
                opacity: 1.0;
            }
        }

        @keyframes blinker
        {
            0%
            {
                opacity: 1.0;
            }

            50%
            {
                opacity: .0;
            }

            100%
            {
                opacity: 1.0;
            }
        }

        /* "Ask Yourself" (Evaluate part 3) */

        .ask-yourself
        {
            position: relative;

            width: 400px;
            height: 370px;
            margin: 10px auto;

            h3
            {
                font-family: Arial, sans-serif;
                font-size: 22px;
                line-height: 1.3;

                position: absolute;
                top: 44%;
                left: 50%;

                display: block;

                width: 130px;
                margin: 0;
                padding: 0;

                transform: translate(-50%, 0);
                text-align: center;
                text-transform: uppercase;

                color: #716960;
            }

            ul
            {
                list-style-type: none;
            }

            li
            {
                position: absolute;

                width: 120px;
                height: 120px;

                border-radius: 60px;
                background-color: $color__blue-lt;
            }

            li:nth-child(1)
            {
                top: 0;
                left: 50%;

                margin-left: -60px;
            }

            li:nth-child(2),
            li:nth-child(5)
            {
                top: 27%;
            }

            li:nth-child(3),
            li:nth-child(4)
            {
                bottom: 0;
            }

            li:nth-child(2)
            {
                right: 0;
            }

            li:nth-child(3)
            {
                right: 13%;
            }

            li:nth-child(4)
            {
                left: 13%;
            }

            li:nth-child(5)
            {
                left: 0;
            }

            li::after
            {
                position: absolute;
                bottom: 0;

                content: '';

                border: 12px solid transparent;
                border-bottom: 22px solid $color__blue-lt;
            }

            li:nth-child(1)::after
            {
                bottom: -30px;
                left: 50%;

                transform: translate(-50%, 0) rotate(180deg);
            }

            li:nth-child(2)::after
            {
                bottom: 20px;
                left: -23px;

                transform: rotate(-110deg);
            }

            li:nth-child(3)::after
            {
                bottom: 100px;
                left: 0;

                transform: rotate(-40deg);
            }

            li:nth-child(4)::after
            {
                right: 0;
                bottom: 100px;

                transform: rotate(40deg);
            }

            li:nth-child(5)::after
            {
                right: -23px;
                bottom: 20px;

                transform: rotate(110deg);
            }

            li label
            {
                font-size: 13px;
                line-height: 1.3;

                position: absolute;
                top: 50%;
                left: 50%;

                width: 100px;

                transform: translate(-50%, -50%);
                text-align: center;

                color: #fff;
            }
        }
    }
}
