@import '../mixins/index';
@import '../variables/index';

h1,
h2,
h3,
h4
{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 700;

    margin-top: 1.2em;
    margin-bottom: .4em;
}

h1
{
    font-size: 32px;
}

h2
{
    font-size: 22px;
}

h3
{
    font-size: 18px;
}

h4
{
    font-size: 16px;
}

@include bp($breakpoint__sm)
{
    h1
    {
        font-size: 36px;
    }

    h2
    {
        font-size: 26px;
    }

    h3
    {
        font-size: 20px;
    }

    h4
    {
        font-size: 18px;
    }
}
