@import '../mixins/index';
@import '../variables/index';


figure,
.wp-block-embed
{
    &.alignleft,
    &.alignright
    {
        max-width: 100%;
        margin: 0 auto;
    }

    &.aligncenter
    {
        display: flex;

        max-width: 640px;
        margin: 0 auto 1em auto;

        justify-content: center;
    }

    &.alignright > .wp-block-embed__wrapper,
    &.alignleft > .wp-block-embed__wrapper,
    &.aligncenter > .wp-block-embed__wrapper
    {
        position: relative;
        top: 5px;

        display: inline-block;
        overflow: hidden;

        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */

        & > iframe
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }
    }

    figcaption
    {
        font: 
        {
            size: 14px;
            style: italic;
        }
        line-height: 20px;
    }
}

@include bp($breakpoint__sm)
{
    .wp-block-embed
    {
        &.alignright
        {
            float: right;

            max-width: 50%;
            margin: 0 0 1em 25px;
        }

        &.alignleft
        {
            float: left;

            max-width: 50%;
            margin: 0 25px 1em 0;
        }
    }
}
