@import '../variables/index';

@include site-content()
{
    .pagination.spartan-pagination
    {
        display: block;
        clear: both;
        overflow: hidden;

        margin: 10px auto 40px auto;
        padding: 0;

        text-align: center;
        text-transform: uppercase;

        border-radius: 0;

        img
        {
            vertical-align: inherit;
        }

        li
        {
            &:before
            {
                display: none;
            }
        }

        ul
        {
            margin: 0;
            padding: 0;

            li
            {
                display: block;
                float: left;

                margin: 0;
                padding: 0;

                list-style-type: none;

                text-align: center;
                text-indent: 0;

                a
                {
                    font-size: 14px;

                    display: block;

                    margin: 0 8px;
                    padding: 10px 25px;

                    transition: transform .25s ease-out;
                    text-decoration: none;

                    color: $color__white;
                    background-color: $color__blue-md;

                    .pagination-icon
                    {
                        position: relative;

                        display: inline-block;
                        overflow: hidden;

                        width: 11px;
                        height: 10px;

                        svg
                        {
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;

                            width: auto;
                            height: 100%;

                            fill: $color__white;
                        }
                    }
                }
            }
        }

        .back-button a
        {
            position: relative;

            padding-left: 40px;
            &:after
            {
                left: 16px;

                mask: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.8 10.52"> <path d="M6.21,9.82l-.54.53a.57.57,0,0,1-.81,0h0L.17,5.67a.56.56,0,0,1,0-.81h0L4.85.17a.57.57,0,0,1,.82,0h0L6.21.7a.59.59,0,0,1,0,.82h0L3.3,4.3h6.92a.57.57,0,0,1,.58.57v.78a.58.58,0,0,1-.58.57H3.29L6.2,9a.57.57,0,0,1,0,.81Z"/></svg>');
            }
            &:hover
            {
                transform: translateX(-5px);

                background-color: $color__blue-dk;
            }
        }

        .next-button a
        {
            position: relative;

            padding-right: 40px;

            &:after
            {
                right: 16px;

                mask: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="10.799" height="10.525" viewBox="0 0 10.799 10.525"> <path class="a" d="M4.591,3.352l.535-.535a.576.576,0,0,1,.817,0L10.629,7.5a.576.576,0,0,1,0,.817L5.944,13a.576.576,0,0,1-.817,0l-.535-.535a.579.579,0,0,1,.01-.827l2.9-2.767H.578A.577.577,0,0,1,0,8.3V7.524a.577.577,0,0,1,.578-.578H7.505L4.6,4.179A.575.575,0,0,1,4.591,3.352Z" transform="translate(0 -2.647)"/></svg>');
            }

            &:hover
            {
                transform: translateX(5px);

                background-color: $color__blue-dk;
            }
        }

        .back-button a:after,
        .next-button a:after
        {
            position: absolute;
            top: 16px;

            display: block;

            width: 11px;
            height: 11px;

            content: '';

            background-color: #fff;

            mask-size: cover;
        }


        .spartan-pagination-location-text
        {
            margin-bottom: -10px;
        }
    }

    .spartan-pagination-nav-buttons
    {
        font-weight: 700;

        display: flex;

        margin-top: 15px;

        justify-content: center;
    }
}
