@import '../mixins/index';
@import '../variables/index';

@include site-content()
{
    .main-content-inner
    {
        padding-top: 25px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .page-header
    {
        display: none;
    }

    p,
    li
    {
        font-size: 16px;

        &.indented
        {
            margin-left: 25px;
        }
    }

    .flag
    {
        background-color: $color__gray-lt;
    }

    .wp-block-separator
    {
        height: 2px;
        margin: 30px 0;

        background-color: $color__yellow;
    }

    .wp-block-columns
    {
        margin-bottom: 0;

        .wp-block-column p:last-child
        {
            margin-bottom: 0;
        }
    }
    .screen-reader-text
    {
        position: absolute !important;

        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);

        width: 1px;
        height: 1px;
    }
}
