@import '../../mixins/index';
@import '../../variables/index';

@include site-content()
{
    .indent-block
    {
        display: flex;
        flex-direction: column;

        margin: 25px 0;

        background-color: $color__gray-lt;
    }

    .indent-block-icon
    {
        display: block;

        width: 75px;
        height: 75px;
        margin: 25px 0 0 25px;

        border-radius: 50%;

        flex-shrink: 0;

        svg
        {
            position: relative;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }

    .indent-block-icon-resource
    {
        background-color: $color__yellow;

        svg
        {
            width: 45px;
            height: 45px;

            fill: $color__blue-md;
        }
    }

    .indent-block-icon-test
    {
        background-color: $color__mint;

        svg
        {
            width: 54px;
            height: 35px;

            fill: $color__blue-md;
        }
    }

    .indent-block-icon-example
    {
        background-color: $color__blue-lt;

        svg
        {
            width: 42px;
            height: 42px;

            fill: $color__blue-dk;
        }
    }

    .indent-block-icon-practice
    {
        background-color: $color__blue-md;

        svg
        {
            width: 39px;
            height: 39px;

            fill: $color__blue-lt;
        }
    }

    .indent-block-icon-tip
    {
        background-color: $color__blue-md;

        svg
        {
            width: 50px;
            height: 53px;

            fill: $color__yellow;
        }
    }

    .indent-block-content
    {
        margin: 25px;

        h3
        {
            font: 
            {
                family: 'Sofia Pro', sans-serif;
                weight: bold;
                size: 20px;
            }

            text-transform: none;
        }

        p img,
        figure
        {
            margin-top: 20px;
        }

        /* Example menus (Plan part 4) */

        .example-menu
        {
            display: flex;

            margin: 15px 0;
            padding: 0;

            list-style-type: none;

            -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
               -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
                    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
        }

        .example-menu.biology
        {
            background: $color__mint;
        }

        .example-menu.writing
        {
            background: $color__blue-lt;
        }

        .example-menu.history
        {
            background: $color__yellow;
        }

        .example-menu li
        {
            font-size: 16px;
            font-weight: normal;

            padding: 10px 20px;
        }

        .example-menu li:first-child
        {
            margin-left: 0;

            border-top: none;
        }
    }
}

@include bp($breakpoint__sm)
{
    @include site-content()
    {
        .indent-block
        {
            flex-direction: row;
        }
    }
}
