@import '../../mixins/index';
@import '../../variables/index';

.accordion-block
{
    margin-bottom: 25px;

    .accordion-btn
    {
        font: 
        {
            size: 16px;
            weight: bold;
        }

        position: relative;

        display: block;

        width: 100%;
        margin: 8px 0;
        padding: 12px 25px;

        transition: .25s;
        text-align: left;

        color: $color__blue-dk;
        border: none;
        border-radius: 0;
        background-color: $color__gray-md;

        &:before,
        &:after
        {
            position: absolute;
            top: 50%;
            right: 25px;

            display: block;

            width: 13px;
            height: 13px;

            content: '';
            transition: .25s;
            transform: translateY(-50%);

            opacity: 1;
            background-color: $color__blue-dk;
        }

        &:before
        {
            width: 14px;
            height: 2px;
        }

        &:after
        {
            right: 31px;

            width: 2px;
            height: 14px;
        }

        &[aria-expanded='true']
        {
            color: $color__white;
            background-color: $color__blue-md;

            &:after
            {
                height: 0;
            }
        }
    }

    .accordion-card-body
    {
        padding: 25px;

        background-color: $color__gray-md;

        h2:first-child,
        h3:first-child
        {
            margin-top: 0;
        }
        p:last-child
        {
            margin-bottom: 0;
        }
    }
}
